.a,.b,.c,.d,.e{
    border-radius: 10px;
    box-shadow:3px 3px 30px black ;
    color:white;
    margin:20px;
    padding:5px 50px
}
body{
    background-color: blueviolet;
}
.pri{
    color:white
}
.dt1{
    color:white
}